*
{
	margin: 0;
	padding: 0;
    /*overflow-x: /*hidden*/;
}
body
{
    /*overflow-x: hidden;*/
}
html
{
    overflow-x: hidden;
}
.bodyclose
{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

}
@font-face
{
    font-family: Montserrat-Black;
    src: url("fonts/Montserrat/Montserrat-Black.ttf");
}
@font-face
{
    font-family: Montserrat-BlackItalic;
    src: url("fonts/Montserrat/Montserrat-BlackItalic.ttf");
}
@font-face
{
    font-family: Montserrat-Bold;
    src: url("fonts/Montserrat/Montserrat-Bold.ttf");
}
@font-face
{
    font-family: Montserrat-BoldItalic;
    src: url("fonts/Montserrat/Montserrat-BoldItalic.ttf");
}
@font-face
{
	font-family: Montserrat-ExtraBold;
	src: url("fonts/Montserrat/Montserrat-ExtraBold.ttf");
}
@font-face
{
	font-family: Montserrat-ExtraLight;
	src: url("fonts/Montserrat/Montserrat-ExtraLight.ttf");
}
@font-face
{
    font-family: Montserrat-ExtraLightItalic;
    src: url("fonts/Montserrat/Montserrat-ExtraLightItalic.ttf");
}
@font-face
{
    font-family: Montserrat-Italic;
    src: url("fonts/Montserrat/Montserrat-Italic.ttf");
}
@font-face
{
    font-family: Montserrat-Light;
    src: url("fonts/Montserrat/Montserrat-Light.ttf");
}
@font-face
{
    font-family: Montserrat-LightItalic;
    src: url("fonts/Montserrat/Montserrat-LightItalic.ttf");
}
@font-face
{
    font-family: Montserrat-Medium;
    src: url("fonts/Montserrat/Montserrat-Medium.ttf");
}
@font-face
{
    font-family: Montserrat-Regular;
    src: url("fonts/Montserrat/Montserrat-Regular.ttf");
}
@font-face
{
    font-family: Montserrat-SemiBold;
    src: url("fonts/Montserrat/Montserrat-SemiBold.ttf");
}
@font-face
{
    font-family: Montserrat-Thin;
    src: url("fonts/Montserrat/Montserrat-Thin.ttf");
}
@font-face
{
	font-family: CrimsonText-SemiBold;
	src: url("fonts/Crimson_Text/CrimsonText-SemiBold.ttf");
}
@font-face
{
    font-family: Crimson-Text-Bold;
    src: url("fonts/Crimson_Text/CrimsonText-Bold.ttf");
}
@font-face
{
    font-family: CrimsonText-Regular;
    src: url("fonts/Crimson_Text/CrimsonText-Regular.ttf");
}
@font-face
{
    font-family: CrimsonText-SemiBoldItalic;
    src: url("fonts/Crimson_Text/CrimsonText-SemiBoldItalic.ttf");
}
@font-face
{
    font-family: CrimsonText-BoldItalic;
    src: url("fonts/Crimson_Text/CrimsonText-BoldItalic.ttf");
}
CrimsonText-SemiBoldItalic
/*Montserrat Fonts*/

.mblack{
    font-family: Montserrat-Black;
}
.cboit{
   font-family: CrimsonText-BoldItalic;
}

.second-col{
    color: #D66125;
}
.mexbo{
    font-family: Montserrat-ExtraBold;
}
.mexlight{
    font-family: Montserrat-ExtraLight;
}
.mitalic{
    font-family: Montserrat-Italic;
}
.mlight{
    font-family: Montserrat-Light;
}
.mregular{
    font-family: Montserrat-Regular;
}
.mthin{
    font-family: Montserrat-Thin;
}
.mbold{
    font-family: Montserrat-Bold;
}
.msebo{
    font-family: Montserrat-SemiBold;
}

/*Crimson Fonts*/

.cregular{
    font-family: CrimsonText-Regular;
}
.cthin{
    font-family: CrimsonText-Thin;
}
.cbold{
    font-family: CrimsonText-Bold;
}
.csebo{
   font-family: CrimsonText-SemiBold;
}
.cseboit{
   font-family: CrimsonText-SemiBoldItalic;
}

.pgap6{
    padding: 60px 0px;
}
.mgap6{
    margin: 60px 0px;
}
/*SideBar*/
.bg-primary-col{
    background: #bf5119;
}
.bg-white-col{
    background: #fff;
}
.bg-second-col{
    background: #D66125;
}
.bg-third-col{
    background: #36C0C4
}
.opennavv{
    text-align: right;
    float: right;
    margin:20px 30px;     
}
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #0c3340;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;

}
.more{
    padding-right: 50px !important;
}
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 45px;
  color: #818181;
  display: block;
  transition: 0.3s;
  text-align: right;
  font-family: Montserrat-Thin;
}

.sidenav a:hover {
  color: #f1f1f1;
  font-family: Montserrat-Medium;
}

.sidenav .closebtn {
  position: absolute;
  top: -10px;
  right: 36px;
  font-size: 72px;
  margin-left: 50px;
}
.snav_social {
    display: flex;
    float: right;
    margin-right: 45px;
}
/*Banner*/

.banner{
    background: url(img/home-hero-banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 650px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 0;
}
.bg-light {
    background-color: transparent!important;
}
span.opennavv i {
    color: #fff;
    font-size: 40px;
}
.banner-content h2{
    font-size: 55px;
    padding: 180px 0px 120px 0px;
}
.banner-content h2 .brandd{
    border-bottom:4px solid #fff; 
}
.button-pro{
    text-align: center;
}
.button-pro a{
    height: 40px;
    width: 350px;
    background-color: #FC5600;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 20px;
    text-decoration: none;
    padding: 20px 30px; 
}
.button-pro-left{
    margin-top: 90px;
}
.button-pro-left a {
    font-family: CrimsonText-SemiBoldItalic;
    height: 40px;
    width: 350px;
    background-color: #FC5600;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    text-align: center;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 20px;
    text-decoration: none;
    padding: 20px 110px; 
}
.banner-content-bottom{
        padding: 200px 0px 50px 0px;
}
.bannimg{
    text-align: center;
}
.bannimg p{
    margin-bottom: 0px;
}
.bannimg img{
    height: 25px;
}


/*SpotLight Section*/

.spotlight-client {
    max-width: 580px;
    text-align: left;
    padding-left: 150px;
}
p.home-p {
    /*color: #0B888B;*/
    font-size: 24px;
    font-style: italic;
    font-weight: 900;
    letter-spacing: 0;
    line-height: 24px;
    color: #0B888B;
}
h1.head-home {
    /*color: #065055;*/
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 39px;
    padding-bottom: 30px;
    color: #065055;

}
p.para-second-home {
    color: #000000;
    font-size: 16px;
    letter-spacing: 0;
    padding-right: 50px;
   /*font-family: Montserrat-Medium;*/
        letter-spacing: 0;
    line-height: 26px;
    font-weight: 600;
}
.img-rightt {
    text-align: right;
}

a.anchor-network {
    color: #15A2A6;
    /*font-family: "Crimson Text";*/
    font-size: 20px;
       font-weight: 600;
    letter-spacing: 1.13px;
    line-height: 33px;
    text-decoration: none;
        position: relative;
    top: 400px;
   
}

/*About Us*/
p.home-p.about {
    color: #fff;
    font-size: 19px;
    font-weight: 900;
    font-family: "Crimson Text" !important;
}
h1.head-home.about.mbold {
    font-size: 30px;
}
a.anchor-read.about {
    background: #fff;
    color: #FC5600;
}
a.anchor-read.about.brandds {
    color: #00A2A6;
    line-height: 35px;
}
.bomre-img{
    width: 100%;
    text-align: left;
}
.bomre-img img {
    width: 550px;
}
.copyright p{
    margin-bottom: 0px;
    color: #fff !important;
    font-size: 13px;
    cursor: pointer;
}
.main-copy:before{
    content: '';
    border-right: 2px solid #e1e1e1;
    position: absolute;
    z-index: 1243;
    width: 12px;
    height: 25px;
    left: -4px;
}
.main-copy:after{
    content: '';
    border-right: 2px solid #e1e1e1;
    position: absolute;
    z-index: 1243;
    width: 12px;
    height: 25px;
    right: -4px;
}

/*Media Query*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



/*media*/

@media(max-width: 767px)
{
    .spotlight-client
    {
        padding-left: 35px;
        padding-top: 50px;
        padding-bottom: 50px;

    }
    .order1{
order:1;
}


.order2{
order:2;
}
    .bomre-img img
    {
        width: 100%;
    }
    .button-pro-left a
    {
            text-decoration: none;
    padding: 20px 50px;
    }
    .banner
    {
        padding: 0;
      min-height: auto;
    }
    .banner-content-bottom 
    {
        display: none;
    }
    .banner-content h2
    {
            padding: 70px 0px 60px 0px;
            font-size: 40px;
    }
    .button-pro
    {
            padding-bottom: 60px;
    }
    .sidenav a
    {
        font-size: 35px;
    }

}

    @media(min-width: 768px) and (max-width: 1024px)
   {
    .spotlight-client
    {
        padding-left: 35px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .bomre-img img
    {
        width: 100%;
    }
    .button-pro-left a
    {
            padding: 20px 50px;
    }



}


@media(min-width:768px) and(max-width:991px)
{
    .img-rightt
     {
    text-align: right;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    /* width: 250px; */
    height: 608px !important;
}

}


@media(min-width:300px) and (max-width: 360px)
{
    .spotlight-client
    {
        padding-left: 15px;
    }
}


p.home-p.about {
    color: #fff;
    font-size: 19px;
    font-weight: 500;
}
h1.head-home.about.mbold {
    font-size: 30px;
}
a.anchor-read.about {
    background: #fff;
    color: #FC5600;
}
a.anchor-read.about.brandds {
    color: #00A2A6;
    line-height: 35px;
}
.bomre-img{
    width: 100%;
    text-align: left;
}
.bomre-img img {
    width: 550px;
}
.copyright p{
    margin-bottom: 0px;
    color: #fff !important;
}
.main-copy:before{
    content: '';
    border-right: 2px solid #e1e1e1;
    position: absolute;
    z-index: 1243;
    width: 12px;
    height: 25px;
    left: -4px;
}
.main-copy:after{
    content: '';
    border-right: 2px solid #e1e1e1;
    position: absolute;
    z-index: 1243;
    width: 12px;
    height: 25px;
    right: -4px;
}
/*services*/
.servicebanner
{
  background: url(img/service.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;  
}

/*About Us*/
.AboutBanner{
    background: url(img/heroBanner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 500px;
}
.about-gap{
    font-size: 30px;
    line-height: 36px;
}
.imgae-founder{
    background: url(img/about.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 360px !important;  
}
.about-meet {
    min-height: 634px;
}
.about-meet aside {
    box-shadow: none;
    background-color: transparent;
}
.about-sweet {
    padding-top: 130px;
    text-align: right;
    padding-right: 15px;
}
.about-sweet h6{
    font-size: 33px;
}
.col-lg-3.col-md-6.col-sm-12.about-meet.bg-primary-col {
    padding-top: 60px;
}
section.about-founder .col-lg-9.col-md-6.col-sm-12{
    padding-top: 90px;
}
.about-our{
    text-align: right;
}
.about-our h1 {
    font-size: 50px;
    padding-right: 15px;
}
/*Media Query*/

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


@media(min-width: 1024px) and (max-width: 1920px)
{
    .bomre-img1 img {
    width: 850px;
}
}

.container.banner-content1 h2 {
    color: #FFFFFF;
    /* font-family: Montserrat; */
    font-size: 52px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 150px;
    text-align: center;
    padding-top: 45px;
}




/*  */

h1.head-leader {
    color: #D66125;
    font-family: "Crimson Text";
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.box-leader {
    background: #F8F8F8;
    border-radius: 15px;
    transition: all 500ms ease 0s;
}

.box-leader .img-avtar {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
        height: 300px;
}

.box-leader h1 {
    padding-left: 15px;
    color: #D66125;
    font-family: "Crimson Text";
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
    padding-top: 15px;
}

.box-leader h1 {
    padding-left: 15px;
    color: #D66125;
    font-family: "Crimson Text";
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
    padding-top: 15px;
}

.box-leader p {
    color: #000000;
    font-family: Montserrat-Regular;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16px;
    padding-left: 15px;
    line-height: 0;
    padding-bottom: 29px;
    font-weight: bold;
}

.box-leader:hover {
    box-shadow: 10px 10px 30px 0 rgba(167,167,167,0.5);
    margin-top: -25px;
    /*transform: translateY(-10px);*/
}

img.img-flag1 {
    position: absolute;
    right: 31px;
    margin-top: -34px;
}


@media(max-width: 767px)
{
    .about-sweet
    {
        padding-top:0;
    }
    .about-meet
    {
        min-height: auto;
        padding-bottom: 60px;
    }
    .imgae-founder
    {
        background-size: contain;
    }
}


@media(min-width: 600px) and (max-width: 750px)
{
    .img-rightt
    {
        text-align: center;
    }
    .sidenav a
    {
            font-size: 26px;
    }
}

a.anchor-next {
    color: #FFFFFF;
    /*font-family: "Crimson Text";*/
    font-size: 22px;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1.13px;
    line-height: 33px;
}

@media(min-width: 768px) and (max-width: 1920px)
{
    a.anchor-next
    {
        position: relative;
        top: 250px;
    }
    .about-gap
    {
        padding-left: 35px;
    }
    .about-sweet h6
    {
        padding-left: 50px;
    }


}



@media(min-width: 1440px) and (max-width: 1920px)
{
    .desktop-all
    {
           margin-left: 0px;
    padding-left: 30px;
    }

     .about-sweet h6
     {
        font-size: 50px;
     }
     .about-our h1
     {
        font-size: 60px;
     }
       .about-gap {
    font-size: 42px;
    line-height: 50px;
    margin-left: 65px;
    padding-right: 50px;
}
p.mregular.about-biz {
        font-family: Montserrat-Medium;
    font-size: 21px;
    letter-spacing: 0;
    line-height: 33px;
    color: #000000;
    padding-right: 120px;
}


}
@media(min-width: 1440px) and (max-width: 1599px)

{
 .about-sweet h6
     {
        font-size: 40px !important;
     }

    .about-gap {
    font-size: 38px;
    line-height: 50px;
    margin-left: 65px;
    padding-right: 50px;
}
p.mregular.about-biz {
        font-family: Montserrat-Medium;
    font-size: 18px;
    letter-spacing: 0;
    line-height: 33px;
    color: #000000;
    padding-right: 120px;
}

    
}



@media(max-width: 767px)
{
    .p-l-mobile
    {
        padding-left: 15px;
    }
}

.img-bg
{
    background-image: url(img/home-apg-image.png);
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
}
.img-bg1
{
    background-image: url(img/video.jpg);
    background-size: cover;
    background-position: center;
    background-origin: padding-box;
}

.margin-t-b
{
    margin-top: 150px;
    margin-bottom: 150px;
}


@media(min-width: 1600px) and (max-width:1920px)
{
    .banner-content-bottom
    {
        padding: 300px 0px 50px 0px;
    }
    .spotlight-client {
    max-width: 750px;
    padding-left: 240px;
    text-align: left;
}
}

.gap
{
    padding-top: 40px;
    padding-bottom: 40px;
}

@media(min-width: 992px) and (max-width: 1400px)
{
.about-gap {
    font-size: 30px;
    line-height: 50px;
    margin-left: 65px;
    padding-right: 50px;
}
p.mregular.about-biz {
    font-family: Montserrat-Medium;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 33px;
    color: #000000;
    padding-right: 80px;
}
}

.img-about-last
{
    background-image: url('img/influencer.png');
    background-position: center;
    background-size: cover;
    height: 768px;
}

.about-sweet.service-sweet {
    padding-top: 0;
}
.about-sweet.service-sweet h6 {
    font-size: 17px;
    letter-spacing: 0;
    line-height: 23px;

    text-align: right;
    font-family: Montserrat-light;
    font-weight: 600;
    line-height: 25px;
    padding-top: 20px;
}


/*service*/
.paddi-service {
    padding-top: 50px;
    padding-bottom: 50px;
}

i.form-icon {
    color: #C84F10;
    /* font-family: FontAwesome; */
    font-size: 56px;
    letter-spacing: 0;
    line-height: 56px;
    text-align: center;
    display: block;
    margin-bottom: 15px;

}
.row.box-an-s {
    margin-bottom: 20px;
}
button.btn-creator {
    background-color: #15A2A6;
    height: 59px;
    width: 250px;
    color: #FFFFFF;
    font-family: "Crimson Text";
    font-size: 19px;
    font-style: italic;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 27px;
    border: none;
    cursor: pointer;
    margin-top: 35px;
}

h1.head-home1.about.cboit {
    color: #DD4B00;
    font-size: 48px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 48px;
    padding-bottom: 20px;
}

h1.head-box {
    color: #FFFFFF;
    font-family: "Crimson Text";
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    text-align: center;
    padding-left: 80px;
    padding-right: 80px;
    line-height: 25px;
    height: 55px;
}

p.para-mix {
    padding-bottom: 0px;
    font-family: Montserrat-light;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 15px;
    text-align: center;
    color: #fff;
    padding-left: 60px;
    padding-right: 60px;
}

h1.head-creator {
    font-family: "Crimson Text";
    font-size: 44px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 36px;
    text-align: center;
    color: #fff;
    padding-top: 40px;
}

img.img-artist {
    height: 300px;
    margin: 0 auto;
    display: block;
    margin-top: 40px;
    border-radius: 14px;
    border: 2px solid #fff;
}

h2.head-artist {
    color: #FFFFFF;
    font-family: "Crimson Text";
    font-size: 24px;
    font-style: italic;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 31px;
    text-align: center;
    padding-top: 10px;
}

.box-artist p {
    text-align: center;
    color: #fff;
    color: rgba(255,255,255,0.85);
    font-family: Montserrat-light;
    font-size: 16px;
    font-weight: 600;
    padding-left: 150px;
    padding-right: 150px;
}

@media(min-width: 1440px) and (max-width: 1599px)
{
    h1.head-box
    {
        font-size: 33px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .about-sweet.service-sweet h6 {
    font-size: 20px !important;
    letter-spacing: 0;
    line-height: 23px;
    text-align: right;
    font-family: Montserrat-light;
    font-weight: 600;
    line-height: 29px;
    padding-top: 20px;
}
.row.box-an-s {
    margin-bottom: 20px;
    padding-left: 50px;
    padding-right: 50px;
}
.row.row-creators
{
        padding-left: 120px;
}
}

@media(min-width: 1600px) and (max-width:1920px)
{
     h1.head-box
    {
        font-size: 33px;
        line-height: 30px;
        margin-bottom: 15px;
    }
    .about-sweet.service-sweet h6 {
    font-size: 24px !important;
    letter-spacing: 0;
    line-height: 35px !important;
    text-align: right;
    font-family: Montserrat-light;
    font-weight: 600;
    line-height: 29px;
    padding-top: 20px;
}
.row.box-an-s {
    margin-bottom: 20px;
    padding-left: 70px;
    padding-right: 70px;
}   
.row.row-creators
{
        padding-left: 150px;
}
}

@media(min-width:992px) and (max-width: 1400px)
{
.row.row-creators
{
        padding-left: 90px;
}
}

.list-company
{
    background-image: url('img/c.png');
    background-size: cover;
     height: 699.75px;
       width: 1160.25px;
   /*width:100%;*/
 }